@use '../../styles/variables' as *;
@use '../../styles/placeholders' as *;
@use '../../styles/mixins' as mixin;

.aboutStyling {
    @include mixin.flexing(column, 1rem);
    justify-content: center;
    align-items: center;
    margin: 0 3rem;

    @media (min-width: 700px) {
        @include mixin.gridable(3, 1fr, 2rem);
        align-items: baseline;

        h2 {
            min-height: 120px;
            font-size: 3rem !important;
        }

        p {
            min-height: 300px;
            margin: 0 !important;
        }
    }

    @media (min-width: 1100px) {
    margin: 0 8rem;

        h2 {
            min-height: 0;
        }

        p {
            min-height: 180px;
        }
    }
}