@use '../../styles/variables' as *;
@use '../../styles/placeholders' as *;
@use '../../styles/mixins' as mixin;

.navBarContainer {
    position: relative;
}

.navbarStyle {
    background-color: $secondary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;

    ul {
        @extend %noMarPad;
        margin: 0.6rem 0;
        display: flex;
        list-style-type: none;
        gap: 1rem;
        color: #fff;

        li {
            &:hover {
                cursor: pointer;

            }

            a {
                font-size: 1rem;
                color: #fff;
            }

        }
    }

    ul:nth-of-type(1) {
        padding: 0.3rem 1rem;
        border: 1px solid #fff;
        border-radius: 0.3rem;
        justify-content: center;
        @extend %inter;
        font-size: 0.8rem;
    }
}

.navIcon {
    width: 30px;
    &:hover{
        cursor: pointer;
    }
}

.coffeeIcon {
    position: absolute;
    @include mixin.flexing(column, 0);
    justify-content: center;
    background-color: $secondary;
    border-radius: 30rem;
    top: -0.5rem;
    left: 50%;
    transform: translate(-50%);
    width: 8rem;
    height: 8rem;

    a {
        @include mixin.flexing(column, 0);
        align-items: center;
        text-decoration: none;
        color: #fff;

        h2 {
            margin-top: 1rem;
            @extend %noMarPad;
            font-size: 1.7rem;
        }

        img {
            display: block;
            width: 45%;
        }
    }
}