@use '../../styles/variables' as *;

.navbarStyle {
    position: relative;
    background-color: $secondary;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 3;
    ul{
        display: flex;
        padding: 0;
        list-style-type: none;
        text-align: center;
        gap: 2rem;
        li{
            font-weight: 300;
            min-width: 3.5rem;
            &:hover{
                cursor: pointer;
                text-decoration: underline;
                text-decoration-color: #fff;
            }
            a{
                
                text-decoration: none;
                font-size: 1rem;
                color: #fff;
            }
            
        }
    }
}