@use '../../styles/variables' as *;
@use '../../styles/placeholders' as *;
@use '../../styles/mixins' as mixin;


.checkoutSection {
    h2 {
        font-size: 3rem;
        text-align: center;
    }


    @media(min-width: 700px) {
        margin: 5rem;
        h2 {
            font-size: 4rem;
            margin-top: 7rem;
        }
    
    }

    @media(min-width: 1100px) {
        h2 {
            font-size: 5rem;
            margin-top: 9rem;
        }
    }
}


.checkoutContainer {
    padding: 1rem 3rem;
    display: grid;

    @media(min-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

.checkoutForm {
    input {
        padding: 0.5rem 0;
    }

    @media (min-width: 700px) {
        input {
            padding: 1rem 0;
            font-size: 1.5rem;
        }

        label {
            font-size: 1.5rem;
        }
    }
}

.rightContainer {
    @include mixin.flexing(column, 1rem);
    gap: 1rem;
}

.cartDataContainer {
    @media(min-width: 700px) {
        max-height: 200px;
        overflow-y: auto;
        background-color: $cards;
    }

}

.checkoutProducts {
    display: grid;
    grid-template-columns: 4fr 7fr 2fr;
    align-items: center;
    margin: 2rem 0;

    h4,
    p {
        font-weight: 400;
        @extend %noMarPad;
    }

}

.divider {
    display: block;
    border: 1px solid $secondary;
    margin: 1rem 0;
}

.checkoutShipping {
    padding: 0 2rem 2rem;

    h4 {
        font-weight: 400;
        text-align: center;
    }

    border: 1px solid $secondary;

    div {
        //container for shippings
        @include mixin.flexing(column, 2rem);

        label {
            display: flex;
            justify-content: space-between;
        }
    }

    @media(min-width: 700px){

    }
}

.payButton {
    display: flex;
    justify-content: end;
    padding: 1rem 0;

    button {
        padding: 1rem;
        background-color: $secondary;
        color: white;
        border: none;
        border-radius: 0.3rem;
        width: 9rem;
    }
}

.error {
    color: red;
    font-size: 0.8rem;
    margin: 0;
}