@use '../../styles/variables' as *;
@use '../../styles/placeholders' as *;
@use '../../styles/mixins' as mixin;

.shopStyling{
    
    button{
        width: 12rem;
        height: 3rem;
        align-self: center;
        background-color: $primary;
        border-radius: 5px;
        border: none;
        a{
            @extend %inika;
            text-decoration: none;
            color: #fff;
        }
        &:hover{
            cursor: pointer;
            background-color: transparent;
            border: 1px solid $secondary;
            a{
                color: $secondary;
            }
        }

    }

    @media (min-width: 700px) {
        p{
            margin: 0 10rem 1rem;
        }
    }

    @media (min-width: 1100px) {
        p{
            margin: 0 20rem 1rem;
        }
    }
}