@use '../../styles/variables' as *;
@use '../../styles/placeholders' as *;
@use '../../styles/mixins' as mixin;

.dividerStyling{
    width: 100%;
    padding: 0.3rem 0;
    background-color: $secondary;
}