@use '../../styles/variables' as *;
@use '../../styles/placeholders' as *;
@use '../../styles/mixins' as mixin;

.footerStyling {
    background-color: $primary;
    @include mixin.flexing(row, 0);
    padding: 1rem;
    justify-content: space-evenly;

    ul {
        @extend %noMarPad;
        list-style: none;
        li, h4 {
            @extend %inika;
            font-weight: 400;
            font-size: 0.8rem;
            color: #fff;
        }
    }
}