@use '../../styles/variables' as *;
@use '../../styles/placeholders' as *;
@use '../../styles/mixins' as mixin;


.cookie_banner {
    @extend %noMarPad;
    width: 100%;
    color: black;
    background-color: white;
    height: 15vh;
    position: fixed;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: 7fr 1fr;
    z-index: 99999;
    border-top: 2px solid $secondary;


    section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 0 1rem;

        p {
            @extend %noMarPad;
            font-size: 0.8rem;

        }

        button {
            @extend %inika;
            width: 70px;
            height: 30px;
            text-align: center;
            background-color: white;
            border: none;
            border-radius: 0.3rem;   
            color: white;         

            &:hover {
                border: none;
                background-color: $secondary;
                color: white;
                cursor: pointer;
            }

            &:nth-of-type(1) {
                background-color: white;
                border: solid 1px #00000055;
                color: #00000077;

                &:hover {
                    background-color: #efefef;
                    border: none;
                }
            }

            &:nth-of-type(2) {
                background-color: $coffeeLight;
            }
        }
    }

    @media (min-width: 700px) {}

    @media (min-width: 1000px) {}
}